<section id="about">
    <div class="row">
        <div class="col-md-12">
            <section id="experience" class="container">

                <div class="row">
                    <div class="col-md-12">
                        <div class="section-header">
                            <h2 slide-highlight>Experience</h2>
                        </div>
                        <p>
                            With over 6 years of experience ranging from website consulation to straight up
                            front-end development, RESTful APIs to relational database design; I've dabbled
                            in it all.
                        </p>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-header">
                            <h2 slide-highlight>Performance Coaching and Leadership Development</h2>
                        </div>
                        <ul>
                            <li>Identify pain points to decrease employee-employer tension</li>
                            <li>Increase performance</li>
                            <li>Minimise workplace stress</li>
                            <li>Retain employee talent</li>
                            <li>Provide guidiance on day-to-day social interactions</li>
                            <li>Stratigize employee advancement</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <section id="education" class="container">
                <div class="section-header">
                    <h2 slide-highlight>Education</h2>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="school">
                            California University Of Pennsylvania
                        </div>
                        <div class="degree">
                            <i>B.S. in Computer Information Systems</i>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="school">
                            Westmoreland County Community College
                        </div>
                        <div class="degree">
                            <i>A.A.S. in Programming for the Enterprise</i>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
