<section id="about" class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="blurb center_text"><i>"The web is an ocean, let someone who swims in it all day guide you"</i></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <section id="experience">
                <div class="section_header">
                    <h2 slide-highlight>Experience</h2>
                </div>
                <p>
                    With over 6 years of professional experience ranging from website consultation to straight up
                    front-end development, RESTful APIs to relational database design, even mainframes! I've dabbled
                    in it all. Check out the <a ui-sref="index.home.services">services</a> I can offer or <a ui-sref="index.home.contact">contact me</a> to help meet your technology goals.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <section id="services">
                <div class="section_header">
                    <h2 class="shortenWidth" slide-highlight>Here's How I Can Help</h2>
                </div>

                <div class="section_header">
                    <h3>Web Presence</h3>
                </div>
                <p>
                    Generate traffic and business by standing out from the competition.
                </p>
                <ul class="check_marks">
                    <li>New Website Design</li>
                    <li>Existing Site Maintenance</li>
                    <li>SEO Strategy and Implementation</li>
                    <li>Drive Social Media Engagement</li>
                </ul>

                <div class="section_header">
                    <h3>Performance Coaching</h3>
                </div>
                <p>
                    The work place can be stressful, but it doesn't have to be! If your business has trouble retaining
                    employees or suffers from low performance and disrespect there maybe be some underlying issues that can be quickly addressed.
                </p>
                <ul>
                    <li>Identify pain points to decrease employee-employer tension</li>
                    <li>Provide guidiance on day-to-day social interactions</li>
                    <li>Stratigize employee advancement</li>
                </ul>

            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <section id="education" class="container">
                <div class="section_header">
                    <h2 slide-highlight>Education</h2>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="school">
                            California University Of Pennsylvania
                        </div>
                        <div class="degree">
                            <i>B.S. in Computer Information Systems</i>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="school">
                            Westmoreland County Community College
                        </div>
                        <div class="degree">
                            <i>A.A.S. in Programming for the Enterprise</i>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
