$main: rgba(58, 165, 199, 1);

@font-face {
  font-family: 'freedom';
  src: url('../fonts/hxdes_freedom/FREEDOM.ttf');
}

//mix ins
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($transition-property, $transition-time, $method) {
	-webkit-transition: $transition-property $transition-time $method;
	-moz-transition: $transition-property $transition-time $method;
	-ms-transition: $transition-property $transition-time $method;
	-o-transition: $transition-property $transition-time $method;
	transition: $transition-property $transition-time $method;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
}

p {
    font-size: 25px;
}

ul {
    li {
        font-size: 25px;
    }
}

.container {

    .center_horizontal {
        margin-right: auto;
        margin-left: auto;
        // should probably be something else
        width: 100%;
    }

}

.center_vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-header{
    font-weight: 500;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: 'freedom';

    h2 {

        padding: 0px 30px 0px 5px;
        font-style: italic;

        &.shortenWidth {
            max-width: 50%;
        }
    }


    &.center {
        text-align: center;

        h2 {
            margin: 0px;
            background-image: none;
        }
    }
}


.navbar {
    margin-bottom: 0px;
    background-color: $main;
    background-image: none;
    border: none;
    @include border-radius(0);
    box-shadow: none;
}

#intro_container {
    display: block;
    min-height: 300px;
    height: 100vh;
    margin-bottom: 2em;

    #intro {
        height: 100%;
        background-image: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.7) 100%) ,url("../images/mySiteBG.png");
        background-repeat: no-repeat;
        background-size: cover;

        #name {
            font-size: 140;
            font-weight: 100;
        }

        #tagline {
            font-size: 25px;
            font-family: 'freedom';
        }
    }
}

#about {

    #experience, #education {
        margin-top: 10em;
    }

    #education {
        h4 {

        }
        .school {
            font-size: 25px;
        }
        .degree {
            font-size: 20px;
        }
    }
}

#contact {
    margin-top: 10em;

    form {
        width: 50%;
        max-width: 400px;
    }
}

#footer {
    height: 4em;
}
