<section chameleon offset="0" color="59, 199, 249" id="intro" class="intro center_vertical">
    <div class="row">
        <div class="column">
            <div class="row">
                <div class="container col-12">
                    <div class="center_horizontal text-center">
                        <div id="name">Adam Lucia </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container col-12">
                    <div class="center_horizontal text-center">
                        <i>Creative, Team Oriented, Unique</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
