<section id="contact" class="container">
    <div class="row">
        <div class="column">
            <div class="section-header center">
                <h2>Let's Talk</h2>
            </div>
            <div class="container">

                <form name="contactMe" class="center_horizontal" ng-submit="$ctrl.sendInfo()">
                    {{contactMe}}
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input name="name" class="form-control" type="text"/>
                        <span ng-show="contactMe.name.$error">This email format is invalid!</span>
                    </div>
                    <!-- <div class="form-group">
                        <label for="email">Email:</label>
                        <input name="email" class="form-control" type="email"/>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone Number:</label>
                        <input name="phone" class="form-control" type="tel"/>
                    </div>
                    <div class="form-group">
                        <label for="comment">Comments:</label>
                        <textarea name="comment" rows="4" cols="50" class="form-control"> </textarea>
                    </div> -->
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
